Firebase User Account object Object {
  "apiKey": "AIzaSyDgoN3UkyY6sOdbiG6xUCmob8LOJMnSilI",
  "appName": "[DEFAULT]",
  "authDomain": "crashcourse-fbe28.firebaseapp.com",
  "createdAt": "1638902153117",
  "displayName": null,
  "email": "lr4nw@virginia.edu",
  "emailVerified": false,
  "isAnonymous": false,
  "lastLoginAt": "1638902153117",
  "multiFactor": Object {
    "enrolledFactors": Array [],
  },
  "phoneNumber": null,
  "photoURL": null,
  "providerData": Array [
    Object {
      "displayName": null,
      "email": "lr4nw@virginia.edu",
      "phoneNumber": null,
      "photoURL": null,
      "providerId": "password",
      "uid": "lr4nw@virginia.edu",
    },
  ],
  "redirectEventId": null,
  "stsTokenManager": Object {
    "accessToken": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjQ3OTg5ZTU4ZWU1ODM4OTgzZDhhNDQwNWRlOTVkYTllZTZmNWVlYjgiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vY3Jhc2hjb3Vyc2UtZmJlMjgiLCJhdWQiOiJjcmFzaGNvdXJzZS1mYmUyOCIsImF1dGhfdGltZSI6MTYzODkwMjE1MywidXNlcl9pZCI6IkNJRHBMUFpaT1NVaXVnS1BsUFZNVzFicUd6RzMiLCJzdWIiOiJDSURwTFBaWk9TVWl1Z0tQbFBWTVcxYnFHekczIiwiaWF0IjoxNjM4OTAyMTUzLCJleHAiOjE2Mzg5MDU3NTMsImVtYWlsIjoibHI0bndAdmlyZ2luaWEuZWR1IiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJmaXJlYmFzZSI6eyJpZGVudGl0aWVzIjp7ImVtYWlsIjpbImxyNG53QHZpcmdpbmlhLmVkdSJdfSwic2lnbl9pbl9wcm92aWRlciI6InBhc3N3b3JkIn19.h1KFQpNKF8UurmxdAq1jaH7kP4jbb-lEtKi4Jz-P-PylbBbSCQy5YDj3ckk0ZiZ_CLBBJqebbQ3mzFeVwjqalgvpx-Cm9j5BkKK5y7FC08TXzABQgIyuwfj___o19vqaCTq8KbbryIpr7beyoOb6rC9rRVB0qgJzSciEy6lKCskFHAKcrxPwRlNmP6q5QQq423la_hcdimnxBV-KP9O9rFQNjytZwx2cQdDQJVxjEtwR1_i2UzS4JPSyLg0su70AaG4ggcug6cxObWif4Q-0ICubk1rRslBwS5ynBsqFCDEzJQAFDijyaas12QW5EvA0Pq77V4Fy5wKOSz-v9DBA1Q",
    "apiKey": "AIzaSyDgoN3UkyY6sOdbiG6xUCmob8LOJMnSilI",
    "expirationTime": 1638905753292,
    "refreshToken": "AFxQ4_qNCFqQ_4_SeRzaTV8j1XRZkhpQuGew8otASlHylfedT19X_QSOCV5IpSvtW6-LzF0a_zBGuQRuYTFa-W0-2CH89fzjhQRQq0cvoCjgUfQBF-UOBbe6hAqTX8-JcW2Meo0cQJra7mHr8EXKBmNO3y9N6j6WONYUHorYs9kaQxTfGlnhK-iQKgzkH6DRDCOQvzl8-aPTwx0ylc9RUJWhu6QqSs04Sw",
  },
  "tenantId": null,
  "uid": "CIDpLPZZOSUiugKPlPVMW1bqGzG3",
}